.cell {
	line-height: 34px;
	height: 35px;
	border: 1px solid transparent;
}

.focus {
	border: 1px solid #e00;
}

.change {
	@apply bg-yellow-200;
}

:global(.dark) .change.change {
	@apply bg-yellow-500;
}
